@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 100;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYULTRALIGHTITALIC.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 200;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYTHINITALIC.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYLIGHTITALIC.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYSEMIBOLDITALIC.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 800;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYHEAVYITALIC.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Display"), url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBLACKITALIC.woff) format("woff");
}
@font-face {
  font-family: "SF Pro Rounded Regular";
  src: url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.eot");
  src: url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.woff") format("woff"), url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.svg#SF Pro Rounded Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  margin-top: 33.5px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 834px) {
  .container {
    max-width: 834px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  top: 0;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.header__text {
  color: #1F2937;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 834px) {
  .header__navbar {
    display: none;
  }
}

@media (max-width: 834px) {
  .header__menu {
    display: none;
  }
}
.header__menu a img {
  margin-right: 100px;
}

.header__hamburger {
  display: none;
}
@media (max-width: 834px) {
  .header__hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
  }
  .header__hamburger * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .header__hamburger input[type=checkbox]:checked + .menu + .navbar ul {
    transform: translateY(0);
    background-color: #fff;
    transition: 0.5s ease;
  }
  .header__hamburger ul {
    display: flex;
    gap: 10px;
    background-color: #fff;
  }
}
@media (max-width: 834px) and (max-width: 834px) {
  .header__hamburger ul {
    flex-direction: column;
    gap: 20px;
    height: 200px;
    top: 50px;
    position: fixed;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    background-color: white;
    right: 0px;
  }
}
@media (max-width: 834px) {
  .header__hamburger li {
    color: #1F2937;
  }
  .header__hamburger li a {
    color: #1F2937;
    text-transform: uppercase;
  }
}
@media (max-width: 834px) {
  .header__hamburger .menu::after, .header__hamburger .menu::before {
    content: "";
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background-color: #1F2937;
  }
}

.hero__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .hero__block {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}

.hero__info h2 {
  color: #5FD788;
  font-family: "SF Pro Rounded Regular";
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 89.836%;
  width: 523px;
}
@media (max-width: 834px) {
  .hero__info h2 {
    font-size: 40px;
    text-align: center;
    width: 295px;
  }
}
.hero__info p {
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #9CA3AF;
  width: 366px;
}
@media (max-width: 834px) {
  .hero__info p {
    text-align: center;
    font-size: 12px;
    width: 295px;
  }
}

.hero__img {
  background-image: url(../../img/Ellipse\ 1.png);
  width: 770px;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1440px) {
  .hero__img {
    height: 696px;
    background-position: left;
    width: 550px;
  }
}
@media (max-width: 1200px) {
  .hero__img {
    background-image: url(../../img/Ellipse\ 1\ \(1\).png);
    width: 300px;
    height: 515px;
    align-items: flex-end;
    justify-content: space-around;
  }
}
@media (max-width: 834px) {
  .hero__img {
    background-image: url(../../img/Ellipse\ 1\ \(2\).png);
    width: 226.528px;
    height: 186.297px;
    align-items: center;
    justify-content: center;
  }
}

.hero__bottle-img {
  width: 880px;
  height: 630px;
  position: absolute;
  z-index: 1;
}
@media (max-width: 1440px) {
  .hero__bottle-img {
    width: 650px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .hero__bottle-img {
    width: 350.839px;
    height: 240.411px;
  }
}
@media (max-width: 834px) {
  .hero__bottle-img {
    width: 123.852px;
    height: 83.641px;
  }
}

.categories__block {
  margin-top: 100px;
}

.category__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .category__boxes {
    flex-direction: column;
    gap: 30px;
  }
}

.category__box {
  width: 273.902px;
  height: 274px;
  border-radius: 0px 20px;
  background-color: #F9FAFB;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  border: none;
  gap: 10px;
}
@media (max-width: 834px) {
  .category__box {
    width: 122.284px;
    height: 122.327px;
    gap: 5px;
  }
}

.category__box:hover {
  background: #5FD788;
}
.category__box:hover .category__img {
  color: #F9FAFB;
}
.category__box:hover ul li .category__name {
  color: #F9FAFB;
}

.category__box:active {
  background: #1F2937;
}
.category__box:active ul li .category__name {
  color: #F9FAFB;
}

.category__name {
  color: #5FD788;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 1200px) {
  .category__name {
    font-size: 14px;
  }
}

.category__img {
  color: #5FD788;
}

.category__svg {
  display: inline-block;
  width: 110px;
  height: 115px;
}
@media (max-width: 834px) {
  .category__svg {
    width: 45.741px;
    height: 45.091px;
  }
}

.therapy__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .therapy__block {
    flex-direction: column;
    margin-top: 60px;
    gap: 50px;
  }
}

.therapy__image {
  background-image: url(../../img/Blob.svg);
  height: 910px;
  width: 550px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 1200px) {
  .therapy__image {
    background-image: url(../../img/Blob.png);
    width: 270.745px;
    height: 490.312px;
  }
}
@media (max-width: 834px) {
  .therapy__image {
    background-image: url(../../img/Bob.svg);
    width: 190.462px;
    height: 204.246px;
  }
}

.therapy__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 250px;
}
@media (max-width: 1200px) {
  .therapy__info {
    margin: 0;
  }
}
@media (max-width: 834px) {
  .therapy__info {
    align-items: center;
  }
}

.therapy__img {
  width: 601.284px;
  height: 532px;
  position: absolute;
  z-index: 1;
  left: 160px;
  top: 280px;
}
@media (max-width: 1200px) {
  .therapy__img {
    width: 402.504px;
    height: 356.125px;
    left: 40px;
    top: 75px;
  }
}
@media (max-width: 834px) {
  .therapy__img {
    width: 155.266px;
    height: 137.375px;
    top: 25px;
  }
}

.therapy__image::after {
  content: url(../../img/right\ frame.svg);
  position: absolute;
  width: 122.667px;
  height: 120px;
  z-index: 1;
  top: 565px;
  left: 400px;
}

.therapy__image::before {
  content: url(../../img/left\ frame.svg);
  position: absolute;
  width: 122.667px;
  height: 120px;
  z-index: 1;
  top: 520px;
  left: 188px;
}

.therapy__title {
  text-align: right;
  font-family: "SF Pro Rounded Regular";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 107.9%;
  letter-spacing: 0.5px;
  color: #5FD788;
  width: 540px;
}
@media (max-width: 1200px) {
  .therapy__title {
    font-size: 40px;
  }
}
@media (max-width: 834px) {
  .therapy__title {
    font-size: 20px;
    text-align: center;
    width: 270px;
  }
}

.therapy__text {
  color: #9CA3AF;
  text-align: right;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: 355px;
}
@media (max-width: 834px) {
  .therapy__text {
    font-size: 12px;
    text-align: center;
    width: 260px;
  }
}

.green__btn {
  width: 274px;
  height: 40px;
  border-radius: 8px;
  background: #5FD788;
  border: 1px solid #5FD788;
}
.green__btn a {
  color: #F9FAFB;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.9%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

.green__btn:hover {
  background: #F9FAFB;
  border: none;
  cursor: pointer;
}
.green__btn:hover a {
  color: #5FD788;
}

.green__btn:active {
  background: #1F2937;
  border: none;
}
.green__btn:active a {
  color: #F9FAFB;
}

.product__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
@media (max-width: 1200px) {
  .product__block {
    flex-direction: column;
  }
}

.product__bestsellers {
  background-image: url(../../img/Visual\ -\ Flower.svg);
  height: 500px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
}
@media (max-width: 1200px) {
  .product__bestsellers {
    width: 100%;
    background-size: contain;
    background-position: left;
    padding-left: 0px;
    align-items: center;
  }
}
@media (max-width: 834px) {
  .product__bestsellers {
    background-image: url(../../img/Visual\ -\ Flower\ \(1\).svg);
    width: 229.539px;
    height: 327px;
    margin-bottom: 30px;
  }
}

.product__title {
  color: #5FD788;
  font-family: "SF Pro Rounded Regular";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 107.9%;
  letter-spacing: 0.5px;
  margin: 15px 0px;
}

.product__cards {
  display: flex;
}
@media (max-width: 1200px) {
  .product__cards {
    flex-direction: column;
    gap: 80px;
  }
}

.product__card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.product__card__img {
  width: 375px;
  height: 386px;
}
@media (max-width: 834px) {
  .product__card__img {
    width: 298px;
    height: 310px;
  }
}

.product__card__info {
  border-radius: 0px 20px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  width: 370px;
  height: 91px;
  position: absolute;
  padding-left: 15px;
}
@media (max-width: 834px) {
  .product__card__info {
    width: 300px;
    height: 72.414px;
  }
}

.product__card__info__black {
  border-radius: 0px 20px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  width: 375px;
  height: 91px;
  position: absolute;
  padding-left: 15px;
}
@media (max-width: 834px) {
  .product__card__info__black {
    width: 300px;
    height: 72.414px;
  }
}

.product__card__title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product__card__title h4 {
  color: #1F2937;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}
@media (max-width: 834px) {
  .product__card__title h4 {
    font-size: 15px;
  }
}
.product__card__title span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 15px;
  border-radius: 8px;
  background: #5FD788;
  color: #F9FAFB;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.9%;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
@media (max-width: 834px) {
  .product__card__title span {
    font-size: 6px;
    width: 25.464px;
    height: 11.936px;
  }
}

.product__card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__card__text p {
  width: 232px;
  color: #6B7280;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
@media (max-width: 834px) {
  .product__card__text p {
    font-size: 11px;
    width: 180px;
  }
}
.product__card__text button {
  border: none;
}

.product__add__btn {
  background: inherit;
}
@media (max-width: 834px) {
  .product__add__btn {
    display: none;
  }
}

.three__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

.green__dot {
  display: inline-block;
  border: none;
  height: 8.006px;
  width: 8.006px;
  border-radius: 50%;
  padding: 0;
  background: #5FD788;
}

.grey__dot {
  display: inline-block;
  border: none;
  height: 8.006px;
  width: 8.006px;
  border-radius: 50%;
  padding: 0;
  background: #9CA3AF;
}

.benefit__block {
  width: 100%;
  background: #5FD788;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 834px) {
  .benefit__block {
    margin-top: 20px;
  }
}

.benefit__info {
  background-image: url(../../img/Texture_2_.svg);
  height: 513.041px;
  width: 792px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}
@media (max-width: 1440px) {
  .benefit__info {
    padding-left: 50px;
  }
}
@media (max-width: 834px) {
  .benefit__info {
    width: 100%;
    height: 515px;
    background-image: url(../../img/Image\ \(2\).png);
    padding-left: 0px;
    filter: blur(0.5px);
    align-items: center;
  }
}

.benefit__headline {
  color: #fff;
  font-family: "SF Pro Rounded Regular";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 119.4%;
  letter-spacing: 0.5px;
  width: 540px;
}
@media (max-width: 1200px) {
  .benefit__headline {
    font-size: 38px;
    width: 360px;
  }
}
@media (max-width: 834px) {
  .benefit__headline {
    font-size: 32px;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.32px;
  }
}

.white__btn {
  width: 274px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #fff;
}
.white__btn a {
  color: #1F2937;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.9%; /* 15.664px */
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .white__btn {
    width: 180px;
  }
}

.white__btn:hover {
  background: #5FD788;
  cursor: pointer;
}
.white__btn:hover a {
  color: #fff;
}

.white__btn:active {
  background: #1F2937;
}
.white__btn:active a {
  color: #fff;
}

.benefit__image {
  width: 652.442px;
  height: 515px;
}
@media (max-width: 1440px) {
  .benefit__image {
    width: 605px;
  }
}
@media (max-width: 1200px) {
  .benefit__image {
    display: none;
  }
}

.benefit__img__desktop {
  display: none;
}
@media (max-width: 1200px) {
  .benefit__img__desktop {
    display: block;
  }
}
@media (max-width: 834px) {
  .benefit__img__desktop {
    display: none;
  }
}

.product__trends {
  background-image: url(../../img/Visual\ -\ Flower-trends.svg);
  height: 540px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
}
@media (max-width: 1200px) {
  .product__trends {
    width: 100%;
    background-size: contain;
    background-position: left;
    padding-left: 0px;
    align-items: center;
  }
}
@media (max-width: 834px) {
  .product__trends {
    background-image: url(../../img/Visual\ -\ Flower\ \(1\).svg);
    width: 229.539px;
    height: 327px;
    margin-bottom: 30px;
  }
}

.blog__title {
  color: #5FD788;
  text-align: center;
  font-family: "SF Pro Rounded Regular";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 107.9%;
  letter-spacing: 0.5px;
}
@media (max-width: 1200px) {
  .blog__title {
    margin: 100px 0px;
  }
}

.blog__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .blog__cards {
    flex-direction: column;
    gap: 50px;
  }
}

.blog__card {
  fill: #fff;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}

.blog__image {
  width: 371px;
  height: 203.725px;
  border-radius: 8px 8px 0px 0px;
}
@media (max-width: 1200px) {
  .blog__image {
    display: none;
  }
}

.blog__img__desktop {
  display: none;
}
@media (max-width: 1200px) {
  .blog__img__desktop {
    display: block;
    width: 371px;
    height: 344.32px;
    border-radius: 8px 8px 0px 0px;
  }
}
@media (max-width: 834px) {
  .blog__img__desktop {
    display: none;
  }
}

.blog__img__table {
  display: none;
}
@media (max-width: 834px) {
  .blog__img__table {
    display: block;
    width: 205.927px;
    height: 191.118px;
    border-radius: 8px 8px 0px 0px;
  }
}

.blog__headline {
  color: #5FD788;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 310px;
}
@media (max-width: 1200px) {
  .blog__headline {
    font-size: 24px;
    line-height: 135%;
  }
}
@media (max-width: 834px) {
  .blog__headline {
    width: 180.394px;
    font-size: 16px;
    line-height: 140%;
  }
}

.blog__text {
  color: #9CA3AF;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 310px;
}
@media (max-width: 834px) {
  .blog__text {
    font-size: 12px;
    width: 180.394px;
  }
}

.footer__block {
  border: 0.5px solid #F3F4F6;
  background: #F3F4F6;
  margin-top: 70px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
}
@media (max-width: 1440px) {
  .footer__logo {
    margin-left: 50px;
    padding-top: 20px;
  }
}
@media (max-width: 834px) {
  .footer__logo {
    margin: 0;
    justify-content: center;
    padding-bottom: 30px;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 1200px) {
  .footer__nav {
    flex-direction: column;
    gap: 30px;
  }
}

.footer__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__title {
  color: #5FD788;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  margin-top: 0px;
}
@media (max-width: 834px) {
  .footer__title {
    margin-top: 12px;
  }
}

.footer__support {
  color: #9CA3AF;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.footer__copyright p {
  color: #6B7280;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  width: 140px;
}/*# sourceMappingURL=main.css.map */