* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 834px) {
  .container {
    max-width: 834px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.header__text {
  color: #1F2937;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 834px) {
  .header__navbar {
    display: none;
  }
}

@media (max-width: 834px) {
  .header__menu {
    display: none;
  }
}
.header__menu a img {
  margin-right: 100px;
}

.header__hamburger {
  display: none;
}
@media (max-width: 834px) {
  .header__hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__hamburger * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header__hamburger input[type=checkbox]:checked + .menu + .navbar ul {
    transform: translateY(0);
    background-color: #fff;
    transition: 0.5s ease;
  }
  .header__hamburger ul {
    display: flex;
    gap: 10px;
    background-color: #fff;
  }
}
@media (max-width: 834px) and (max-width: 834px) {
  .header__hamburger ul {
    flex-direction: column;
    gap: 20px;
    height: 200px;
    top: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    transform: translateX(320%);
    background-color: white;
  }
}
@media (max-width: 834px) {
  .header__hamburger li {
    color: #1F2937;
  }
  .header__hamburger li a {
    color: #1F2937;
    text-transform: uppercase;
  }
}
@media (max-width: 834px) {
  .header__hamburger .menu::after, .header__hamburger .menu::before {
    content: "";
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background-color: #1F2937;
  }
}

.hero__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .hero__block {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}

.hero__info h2 {
  color: #5FD788;
  font-family: SF Pro Rounded;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 89.836%;
  width: 523px;
}
@media (max-width: 834px) {
  .hero__info h2 {
    font-size: 40px;
    text-align: center;
    width: 295px;
  }
}
.hero__info p {
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #9CA3AF;
  width: 366px;
}
@media (max-width: 834px) {
  .hero__info p {
    text-align: center;
    font-size: 12px;
    width: 295px;
  }
}

.hero__img {
  background-image: url(../../img/Ellipse\ 1.png);
  width: 770px;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1440px) {
  .hero__img {
    height: 696px;
    background-position: left;
    width: 550px;
  }
}
@media (max-width: 1200px) {
  .hero__img {
    background-image: url(../../img/Ellipse\ 1\ \(1\).png);
    width: 300px;
    height: 515px;
    align-items: flex-end;
    justify-content: space-around;
  }
}
@media (max-width: 834px) {
  .hero__img {
    background-image: url(../../img/Ellipse\ 1\ \(2\).png);
    width: 226.528px;
    height: 186.297px;
    align-items: center;
    justify-content: center;
  }
}

.hero__bottle-img {
  width: 880px;
  height: 630px;
  position: absolute;
  z-index: 1;
}
@media (max-width: 1440px) {
  .hero__bottle-img {
    width: 650px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .hero__bottle-img {
    width: 350.839px;
    height: 240.411px;
  }
}
@media (max-width: 834px) {
  .hero__bottle-img {
    width: 123.852px;
    height: 83.641px;
  }
}

.categories__block {
  margin-top: 100px;
}

.category__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .category__boxes {
    flex-direction: column;
    gap: 30px;
  }
}

.category__box {
  width: 273.902px;
  height: 274px;
  border-radius: 0px 20px;
  background-color: #F9FAFB;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  gap: 10px;
}
@media (max-width: 834px) {
  .category__box {
    width: 122.284px;
    height: 122.327px;
    gap: 5px;
  }
}

.category__box:hover {
  background: #5FD788;
  cursor: pointer;
}
.category__box:hover .category__img {
  color: #F9FAFB;
}
.category__box:hover ul li .category__name {
  color: #F9FAFB;
}

.category__name {
  color: #5FD788;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 1200px) {
  .category__name {
    font-size: 14px;
  }
}

.category__img {
  color: #5FD788;
}

.category__svg {
  display: inline-block;
  width: 110px;
  height: 115px;
}
@media (max-width: 834px) {
  .category__svg {
    width: 45.741px;
    height: 45.091px;
  }
}/*# sourceMappingURL=main.css.map */