.hero__block {
  @include dis-c;
  justify-content: space-between;
  @media (max-width: $table) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 50px;
  }
}

.hero__info {
  h2 {
    color: $color-text-green;
    font-family: SF Pro Rounded;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 89.836%;
    width: 523px;
    @media (max-width: $table) {
      font-size: 40px;
      text-align: center;
      width: 295px;
    }
  }
  p {
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: $color-text-grey;
    width: 366px;
    @media (max-width: $table) {
      text-align: center;
      font-size: 12px;
      width: 295px;
    }
  }
}

.hero__img {
  background-image: url(../../img/Ellipse\ 1.png);
  width: 770px;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width:$desktop-1) {
    height: 696px;
    background-position: left;
    width: 550px;
  }
  @media (max-width: $desktop) {
    background-image: url(../../img/Ellipse\ 1\ \(1\).png);
    width: 300px;
    height: 515px;
    align-items: flex-end;
    justify-content: space-around;
  }
  @media (max-width: $table) {
    background-image: url(../../img/Ellipse\ 1\ \(2\).png);
    width: 226.528px;
    height: 186.297px;
    align-items: center;
    justify-content: center;
  }
}

.hero__bottle-img {
  width: 880px;
  height: 630px;
  position: absolute;
  z-index: 1;
  @media (max-width: $desktop-1) {
    width: 650px;
    height: 400px;
  }
  @media (max-width: $desktop) {
    width: 350.839px;
    height: 240.411px;
  }
  @media (max-width: $table) {
    width: 123.852px;
    height: 83.641px;
  }
}